body{
  background-image: url(MaterialeEsercizioLim/background.jpg);
  background-size: 108%;
  margin: 10% 25%;
  background-repeat: no-repeat;
}

.background{
  background-color: black;
  padding: 5%;
  border-radius: 4%;
  background: rgba(0, 0, 0, 0.5);
}

header{
  text-align: center;
  color: lightgreen;
}

#logo{
  width: 30%;
}

nav{
  text-align: center;
  background-color: lightgreen;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Monopattino{
  color: white;
}

h2{
  display: inline-block;
}

dd{
  margin: 0px;
}

#caricacompleta{
  padding: 2%;
  margin-right: 20%;
  background-color: green;
  border-radius: 10px;
}

#semicarico{
  padding: 2%;
  margin-right: 50%;
  background-color: orange;
  border-radius: 10px;
}

#scarico{
  padding: 2%;
  margin-right: 80%;
  background-color: red;
  border-radius: 10px;
}
